* {
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
}

#game-container {
  width: 750px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-around;
}

.space {
  height: 100px;
  width: 15%;
  margin: 5px;
  perspective: 210px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
}

.card-back {
  background: dodgerblue;
  border: 2px solid tomato;
}

.card-back::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  background-image: url('owls/back.png');
  background-size: 100% 100%;
}

.card-front {
  background: tomato;
  border: 2px solid dodgerblue;
  transform: rotateY(180deg);
}

.card-front::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  background-image: ;
  background-size: 100% 100%;
}

.card.is-flipped {
  transform: rotateY(180deg);
}
