* {
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
}

.game-container {
  width: 750;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-around;
}

.card {
  position: relative;
  margin: 5px;
  height: 100px;
  width: 15%;
  background: dodgerblue;
  border: 2px solid firebrick;
  border-radius: 5px;
}

.card::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  background-image: url('https://cdn6.aptoide.com/imgs/8/7/a/87ac36837a4e526ee6537f076bb2946e_icon.png?w=256');
  background-size: 100% 100%;
}

.card-front {
  width: 17%;
  background: firebrick;
  border: 2px solid dodgerblue;
}
